.nav-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .nav {
        background: #141414;
        border-radius: 80px;
        // position: fixed;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 32px;
            // padding: 10px;
            .li-prj {
                display: flex;
                flex-direction: row;
                column-gap: 4px;
                align-items: center;
                span {
                    color: #000;
                    background: #C4C4C4;
                    border-radius: 100px;
                    padding: 2px 8px;
                }
            }
            .li-prj:hover {
                border-radius: 100px;
                background: #fff;
                color: #000;
            }
            li {
                padding: 20px 25px;
                color: #C4C4C4;
                font-size: 1.25rem;
                list-style-type: none;
            }
            li:hover, li:active {
                border-radius: 100px;
                background: #fff;
                color: #000;
            }
        }
    }
    .menu_button {
        display: none;
    }
    // .dropdown-content {
    //     display: none;
    // }
}
@media only screen and (max-width: 450px) {
    .nav-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .nav {
            display: none;
        }
        .dropdown-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .menu_button {
                display: block;
                margin-right: 10px;
                cursor: pointer;
            }
            .show {
                display: block;
            }
            .dropdown-content {
                background-color: #141414;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                padding: 20px 0px;
                .li-prj {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    span {
                        color: #fff;
                    }
                }
                li {
                    list-style-type: none;
                    display: flex;
                    color: #fff;
                }
            }
        }
    }
}