.projects {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 80px;
    .projects-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .projects-subtitle-description {
            max-width: 392px;
            p {
                margin-top: 11px;
                
            }
        }
    }
    @media only screen and (max-width: 450px) {
        .projects-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
    
    }
}
    .projects-subtitle-more {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-start;
        width: 100%;
        overflow: auto;
        flex-direction: row;
        .more {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            cursor: pointer;
            p {
                font-weight: 700;
            }
        }

    }
}
//Для компонента Project
.project-title {
    display: flex;
    justify-content: center;
}
